.day
  box-sizing border-box
  height 100%
  padding 5px

.hidden
  background-color #eee
  color: #999

.filled
  background-color #cce

.today
  background-color #cec

p
  margin-top 5px

.title
  font-weight bold
  font-size .9rem
.description
  font-size .9rem
