div.day([ngClass]="{'hidden': isHidden, 'filled': isFilled && !isHidden, 'today': isToday}",
    title="{{description}}", (click)="openDay()") {{date}}

    p.title  {{title}}
    p.description {{description}}
