
.app
    h1 Calendar Application
    nav
        button.button(href="javascript:;", (click)="onPrev()") Prev
        span.current {{month}} {{year}}
        button.button(href="javascript:;", (click)="onNext()") Next

    .calendar
        calendar-day.calendar-day(*ngFor="let day of days", [day]="day")

