
section
    h1 Calendar Application
    nav
        a(href="javascript:;", (click)="onPrev()") Prev
        b {{month}} {{year}}
        a(href="javascript:;", (click)="onNext()") Next
section
    calendar-day(*ngFor="let day of days", [day]="day")
