@import 'reset.styl'

p
div
    font-family "Helvetica Neue", Arial, sans-serif


h1
    font-size 2rem
    padding .5rem 0
nav
    min-height 3rem
    line-height 3rem
    background-color #eee
    padding-left .5rem

article
    background-color green

.label
    margin-right 10px
    font-size 1.0rem
.btn
    margin-right 10px
    font-size 1rem
.form
    width 95%
    font-size 1rem
    padding 4px
.field
    margin-top 15px
.right
    float right
    margin-right 10px